Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
stamp-h1

QCADesigner-2.0.3/
QCADesigner-win32-gtk.iss
QCADesigner-win32.iss
QCADesigner.desktop
QCADesigner.spec
compile
config.guess
config.sub
depcomp
docs/manual/
graph_dialog.desktop
gtk-doc.make
install-sh
missing
src/.deps/
src/actions/.deps/
src/actions/.dirstamp
src/batch_sim
src/combo_test
src/graph_dialog
src/libgtkdocfiles.a
src/objects/.deps/
src/objects/.dirstamp
src/out
src/test.c
